h1 {
    color: white;
}

li, li a {
    color: white;
    font-size: 1.4em;
}

body {
    background: white url('images/background.jpg') no-repeat bottom;
    margin: 50px auto;
    text-align: center;
}

form label {
    color: white;
    font-size: 1.4em;
}

a {
    color: green;
    font-size: 1.4em;
}